
<li class="dropdown">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
            <li><a href="https://guarded-brushlands-54473.herokuapp.com/">Sai Prakash Reddy Mamidi</a></li>
            <li><a href="https://bmicalcanuraag.herokuapp.com/index">Anuraag Naidu Sanakkayala</a></li>
            <li><a href="https://vinay-07.herokuapp.com/">Vinay Linginedi</a></li>
            <li><a href="https://mallibodea03.herokuapp.com/">Mallikarjuna Bodepudi</a></li>
          </ul>
        </li>
    </ul>
 