<!doctype html>
<html lang = "en">
<head>
   
    <title>Damazon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Damazon</a>
  <ul class="navbar-nav">
    <li class="active">
        <a class="nav-link" href="/">Home</a></li>
    <li class="nav-item">
        <a class="nav-link" href="/customers">Customers</a></li>
    <li class="nav-item">
        <a class="nav-link" href="/products">Products</a></li>
    <li class="nav-item">
        <a class="nav-link" href="/orders">Orders</a></li>
    <li class="nav-item">
        <a class="nav-link" href="/orderlines">Order Line</a></li>
  </ul>
</nav>
