<%include header%>
<br>
<br>
<br>
<p>Welcome</p>
<br>
<ul>
<li><a href="http://localhost:8081/orders/create.ejs">http://localhost:8081/orders/create</a></li>
<li><a href="http://localhost:8081/orders/delete/1">http://localhost:8081/orders/delete/1</a></li>
<li><a href="http://localhost:8081/orders/edit/1">http://localhost:8081/orders/edit/1</a></li>
<li><a href="http://localhost:8081/orders/details/1">http://localhost:8081/orders/details/1</a></li>
<li><a href="http://localhost:8081/orders/findall">http://localhost:8081/orders/findall</a></li>
<li><a href="http://localhost:8081/orders/findone/1">http://localhost:8081/orders/findone/1</a></li>
</ul>