<br/>
<br/>
<h2>Confirm deletion of product</h2>
<br/>
<br/> ID:
<%=  product._productid %>
  <br> Product Name:
  <%=product.name%>
    <br/> Product Description:
    <%=product.productDescription%>
      <br/> price :
      <%=product.price%>
      <br/> product Category :
      <%=product.productCategory%>
      <br/> Seller Id :
      <%=product.sellerId%>
        <br/>
        <br/>
            <br/>
            <br/>

            <form method="get" action="/products">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/products/delete/<%= product._productid %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>