<br/>
<br/>
<h2>Product details</h2>
<br/>
<br/> ID:
<%=  product._productid %>
  <br> Product Name:
  <%=product.productName%>
    <br/> Product Description:
    <%=product.productDescription%>
      <br/> price :
      <%=product.price%>
      <br/> product Category :
      <%=product.productCategory%>
      <br/> Seller Id :
      <%=product.sellerId%>
        <br/>
        <br/>
            <br/>
            <br/>
            <form method="get" action="/products">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>