<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h2>Edit product </h2>
      <div class="content">
        <form method="POST" action="/products/save/<%= product._productid %>">
          <div class="form-group" id=frm>
            <label for="_productid">ID</label>
            <input type="number" class="form-control" id="_productid" name="_productid" value="<%= product._productid %>" required disabled>
          </div>

            <!-- COMMON TO EDIT AND CREATE -->
            <%include partial_edit.ejs %>
              <input type="submit" value="Save" class="btn btn-primary" />
        </form>
        <br/>

        <form method="get" action="/products">
          <input type="submit" value="Return to list" class="btn btn-caution" />
        </form>
      </div>
    </div>
  </div>
</div>
