

<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" class="form-control" id="productName" name="productName" value="<%= product.productName %>" required>
      </div>
      <div class="form-group">
        <label for="productDescription">Product Description</label>
        <input type="text" class="form-control" id="productDescription" name="productDescription" value="<%= product.productDescription %>">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input  type="number" class="form-control" id="price" name="price" value="<%= product.price %>" required>
      </div>
      <div class="form-group">
            <label for="productCategory">Product Category</label>
            <input type="text" class="form-control" id="productCategory" name="productCategory" value="<%= product.productCategory %>">
      </div>
        <div class="form-group">
            <label for="sellerId">Seller ID</label>
            <input type="number" class="form-control" id="sellerId" name="sellerId" value="<%= product.sellerId %>">
        </div>
    </div>
  </div>
  <hr>
  
  <p></p>
  
  <br/>

  <hr>
  <br/>
  <br/>
  